<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a href="#">MongoDB</a></li>
       <li><a href="#">Jenkins</a></li>
       <li><a href="#">AWS</a></li>
       <li><a href="#">Docker</a></li>
       <li><a href="#">MySql</a></li>
       <li><a href="#">Java</a></li>
       <li><a href="#">Python</a></li>
       <li><a href="#">Angular</a></li>
       <li><a href="#">Spring-boot</a></li>
       <li><a href="#">Spring-Cloud</a></li>
   </ul>
  </div>